@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

$family-body: 'Varela Round', 'sans-serif';
$size-body: 1.0rem;
$size-smaller: 0.9rem;

$family-heading: 'Arvo', 'serif';
