@use 'colors';

body {
    background: colors.$oxford-blue;
}

main {
    background: colors.$oxford-blue;
}

// TODO: replace all these with table.inner
dl {
    display: grid;
    grid-template-columns: min-content minmax(0, 1fr);
    column-gap: 0.5rem;
    row-gap: 0;

    dt {
        grid-column: 1;
        justify-self: end;
        font-variant-numeric: tabular-nums;
        font-feature-settings: "tnum";
    }
}
